#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1, 0, 0, 0
 PRODUCTVERSION 1, 0, 0, 0
 FILEFLAGSMASK 0x3fL
#ifndef NDEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Xellanix"
			VALUE "FileDescription", "Xellanix Projection Utilities"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "utilities"
			VALUE "LegalCopyright", "Copyright (C) 2025"
			VALUE "OriginalFilename", "utilities.exe"
			VALUE "ProductName", "Xellanix Projection Utilities"
			VALUE "ProductVersion", "1.0.0.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
